# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives***
- List popular languages for Data Science
- Commonly used libraries used by Data Scientists
- Data science tools
- arithmetic expressions in python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL
5. Java
6. Scala
7. MATLAB

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. SciPy
4. Matplotlib
5. Scikit-learn

|Data Science Tools|
|------------------|
|Jupyter notebook|
|Rstudio|
|spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [17]:
#This will convert 200 minutes to hours by diving by 60
t_m=200
t_h=t_m/60
print(t_h , "hours")

3.3333333333333335 hours

## Author
Ibrahim Mamudu